@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--bgColor:  #E6E7E9;
}

* {
	margin: 0;
	padding: 0;
	border: 0;

}

body {
	background-color: var(--bgColor);
}

/* For Webkit (Chrome, Safari) */
::-webkit-scrollbar {
	width: 20px; /* Set the width of the scrollbar */
}
