@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--bgColor:  #E6E7E9;
}

* {
	margin: 0;
	padding: 0;
	border: 0;

}

body {
	background-color: var(--bgColor);
}

/* For Webkit (Chrome, Safari) */
::-webkit-scrollbar {
	width: 0px; /* Set the width of the scrollbar */
}

 #game-setup-frame {
	background-color: #E6E7E9;
	opacity: 1;
	background-image:  radial-gradient(#435899 0.5px, transparent 0.5px),
		radial-gradient(#435899 0.5px, #E6E7E9 0.5px);
	background-size: 25px 25px;
	background-position: 0 0,10px 10px;  
}

.text-secondary {
	--tw-text-opacity: 1;
    color: rgb(0 118 192 / var(--tw-text-opacity));
}

.border-secondary {
	--tw-border-opacity: 1;
    border-color: rgb(0 118 192 / var(--tw-border-opacity));
}

.bg-secondary {
    --tw-bg-opacity: 1;
    background-color: rgb(0 118 192 / var(--tw-bg-opacity));
}

.hover\:bg-secondary:hover {
	--tw-bg-opacity: 1;
	background-color: rgb(0 118 192 / var(--tw-bg-opacity));
}

.text-sucessColor {
    --tw-text-opacity: 1;
    color: rgb(36 190 200 / var(--tw-text-opacity));
}

.border-sucessColor {
    --tw-border-opacity: 1;
    border-color: rgb(36 190 200 / var(--tw-border-opacity));
}

.bg-sucessColor {
    --tw-bg-opacity: 1;
    background-color: rgb(36 190 200 / var(--tw-bg-opacity));
}

.hover\:bg-sucessColor:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(36 190 200 / var(--tw-bg-opacity));
}

.text-errorColor {
    --tw-text-opacity: 1;
    color: rgb(241 141 179 / var(--tw-text-opacity));
}

.border-errorColor {
    --tw-border-opacity: 1;
    border-color: rgb(241 141 179 / var(--tw-border-opacity));
}

.bg-errorColor {
    --tw-bg-opacity: 1;
    background-color: rgb(241 141 179 / var(--tw-bg-opacity));
}

.hover\:bg-errorColor:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(241 141 179 / var(--tw-bg-opacity));
}

.text-primary {
    --tw-text-opacity: 1;
    color: rgb(67 88 153 / var(--tw-text-opacity));
}

.border-primary {
    --tw-border-opacity: 1;
    border-color: rgb(67 88 153 / var(--tw-border-opacity));
}

.bg-primary {
    --tw-bg-opacity: 1;
    background-color: rgb(67 88 153 / var(--tw-bg-opacity));
}

.hover\:bg-primary:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(67 88 153 / var(--tw-bg-opacity));
}

.text-\[\#9A73A6\] {
    --tw-text-opacity: 1;
    color: rgb(154 115 166 / var(--tw-text-opacity));
}

.border-\[\#9A73A6\] {
    --tw-border-opacity: 1;
    border-color: rgb(154 115 166 / var(--tw-border-opacity));
}

.bg-\[\#9A73A6\] {
    --tw-bg-opacity: 1;
    background-color: rgb(154 115 166 / var(--tw-bg-opacity));
}

.hover\:bg-\[\#9A73A6\]:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(154 115 166 / var(--tw-bg-opacity));
}
