@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap');@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--bgColor:  #F2F2F2;
	--errorColor: #F18DB3;
	--successColor: #24BEC8;
	--textColor: #000301
	/**
	* Tostify Error config
	*/
	--toastify-text-color-error: #000301;
	--toastify-color-error: var(--errorColor);
	--toastify-icon-color-error: var(--toastify-color-error);
	--toastify-text-color-light: var(--textColor)
}

* {
	margin: 0;
	padding: 0;
	border: 0;
	scroll-behavior: smooth;
}

body {
	background-color: var(--bgColor);
}

.GameBoy{
-webkit-animation: floating 2.5s ease-in-out infinite;
		animation: floating 2.5s ease-in-out infinite;
}
  
@keyframes floating {
	0% {
		-webkit-transform: translate(0, 0px);
				transform: translate(0, 0px);
	}
	50%  {
		-webkit-transform: translate(0, 35px);
				transform: translate(0, 35px);
	}
	100%   {
		-webkit-transform: translate(0, -0px);
				transform: translate(0, -0px);
	}
}

.Ft:hover{
	-webkit-transform: scale(1.2);
	transform: scale(1.02);
	transition: 0.5s ease-in-out;
	cursor: grabbing;
}

.FF:hover{
	-webkit-transform: scale(1.5);
	transform: scale(1.05);
	transition: 0.5s ease-in-out;
}

.FF{
	animation: floating 6s infinite;
}

.Member:hover{
	-webkit-transform: scale(1.1);
	transform: scale(1.02);
	transition: 0.5 ease-in-out;
}

.StartGame:hover{
	-webkit-transform: scale(1.1);
	transform: scale(1.02);
	transition: 0.5s ease;
}

.carousel-img:hover {
   animation: shake 1s;
   animation-iteration-count: infinite;
}


 @keyframes shake {
  0% {
		transform: translate(1px, 1px) rotate(0deg);
	}
  10% { 
		transform: translate(-2px, -3px) rotate(-2deg);
	}
  20% { 
		transform: translate(-4px, 0px) rotate(2deg);
	}
  30% { 
		transform: translate(4px, 3px) rotate(0deg);
	}
  40% { 
		transform: translate(2px, -2px) rotate(2deg); 
	}
  50% { 
		transform: translate(-2px, 3px) rotate(-2deg);
	}
  60% { 
		transform: translate(-4px, 2px) rotate(0deg);
	}
  70% { 
		transform: translate(4px, 2px) rotate(-2deg); 
	}
  80% { 
		transform: translate(-2px, -2px) rotate(2deg); 
	}
  90% { 
		transform: translate(2px, 3px) rotate(1deg); 
	}
  100% { 
		transform: translate(2px, -3px) rotate(-2deg); 
	}
}

/* For Webkit (Chrome, Safari) */
::-webkit-scrollbar {
	width: 0px; /* Set the width of the scrollbar */
}

 #game-setup-frame {
	background-color: #E6E7E9;
	opacity: 1;
	background-image:  radial-gradient(#435899 0.5px, transparent 0.5px),
		radial-gradient(#435899 0.5px, #E6E7E9 0.5px);
	background-size: 25px 25px;
	background-position: 0 0,10px 10px;  
}

.text-secondary {
	--tw-text-opacity: 1;
    color: rgb(0 118 192 / var(--tw-text-opacity));
}

.border-secondary {
	--tw-border-opacity: 1;
    border-color: rgb(0 118 192 / var(--tw-border-opacity));
}

.bg-secondary {
    --tw-bg-opacity: 1;
    background-color: rgb(0 118 192 / var(--tw-bg-opacity));
}

.hover\:bg-secondary:hover {
	--tw-bg-opacity: 1;
	background-color: rgb(0 118 192 / var(--tw-bg-opacity));
}

.text-sucessColor {
    --tw-text-opacity: 1;
    color: rgb(36 190 200 / var(--tw-text-opacity));
}

.border-sucessColor {
    --tw-border-opacity: 1;
    border-color: rgb(36 190 200 / var(--tw-border-opacity));
}

.bg-sucessColor {
    --tw-bg-opacity: 1;
    background-color: rgb(36 190 200 / var(--tw-bg-opacity));
}

.hover\:bg-sucessColor:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(36 190 200 / var(--tw-bg-opacity));
}

.text-errorColor {
    --tw-text-opacity: 1;
    color: rgb(241 141 179 / var(--tw-text-opacity));
}

.border-errorColor {
    --tw-border-opacity: 1;
    border-color: rgb(241 141 179 / var(--tw-border-opacity));
}

.bg-errorColor {
    --tw-bg-opacity: 1;
    background-color: rgb(241 141 179 / var(--tw-bg-opacity));
}

.hover\:bg-errorColor:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(241 141 179 / var(--tw-bg-opacity));
}

.text-primary {
    --tw-text-opacity: 1;
    color: rgb(67 88 153 / var(--tw-text-opacity));
}

.border-primary {
    --tw-border-opacity: 1;
    border-color: rgb(67 88 153 / var(--tw-border-opacity));
}

.bg-primary {
    --tw-bg-opacity: 1;
    background-color: rgb(67 88 153 / var(--tw-bg-opacity));
}

.hover\:bg-primary:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(67 88 153 / var(--tw-bg-opacity));
}

.text-\[\#9A73A6\] {
    --tw-text-opacity: 1;
    color: rgb(154 115 166 / var(--tw-text-opacity));
}

.border-\[\#9A73A6\] {
    --tw-border-opacity: 1;
    border-color: rgb(154 115 166 / var(--tw-border-opacity));
}

.bg-\[\#9A73A6\] {
    --tw-bg-opacity: 1;
    background-color: rgb(154 115 166 / var(--tw-bg-opacity));
}

.hover\:bg-\[\#9A73A6\]:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(154 115 166 / var(--tw-bg-opacity));
}

/**
 * Tostify classes
*/
/* .Toastify__progress-bar--error {
	background-color: var(--errorColor);
	border-color: var(--errorColor);
} */